.root {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.5rem;
  align-items: center;
  border-bottom: 2px solid var(--accent-2);
}

.title {
  font-size: 1.25rem;
  color: var(--accent-4);
  font-weight: 500;
}

.container {
  font-size: 1.25rem;
  font-family: "Consolas";
  color: var(--accent-4);
  font-weight: 600;
}
